.App {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  margin-top: 100px;
  position: relative;
}
h1::after {
  content: url(./images/pattern-circles.svg);
  z-index: -2;
  position: absolute;
  left: 44%;
  top: -40px;
}

.component-container {
  background-color: white;
  border-radius: 12.5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: hsl(225, 20%, 60%);
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  width: 500px;
}

li {
  list-style: url(./images/icon-check.svg);
  text-align: left;
  line-height: 2;
  font-size: 15px;
}

@media screen and (max-width: 600px){
  * {
    flex-direction: column;
  }
  header {
    margin: 0 auto;
  }
  .component-container {
    width: 100%;
    margin: 0 auto;
  }
}